.sane-editor .button {
  cursor: pointer;
  position: relative;
  border: 0;
  line-height: 30px;
  height: 30px;
  margin: 1px;
  background-repeat: no-repeat;
  background-size: auto 75%;
  background-position: 50% 50%;
  transition: 0.3s all ease-out;

  span {
    font-size: 11px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: $dkgrey;
    white-space: nowrap;
  }

  &.floating {
    margin: 20px auto;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid $grey;
    background-color: $grey;
    background-size: 60% auto;
    &:hover {
      background-color: white;
    }
    &.save,
    &.preview,
    &.exit {
      position: absolute;
      right: 20px;
      box-shadow: 0 1px 3px rgba(black, 0.5);
      display: none;
    }
    &.save {
      bottom: 140px;
    }
    &.preview {
      bottom: 70px;
    }
    &.exit {
      bottom: 0;
    }
  }
  &.labelled {
    background-position: 10px 50%;
    padding-left: 30px;
    span {
      visibility: visible;
      opacity: 1;
    }
  }

  &.header1 {
    background-image: inline('header1.svg');
  }
  &.header3 {
    background-image: inline('header3.svg');
  }
  &.intro {
    background-image: inline('intro.svg');
  }
  &.quote {
    background-image: inline('quote.svg');
  }
  &.bold {
    background-image: inline('bold.svg');
  }
  &.bullet,
  &.unordered-list {
    background-image: inline('bulleted.svg');
  }
  &.numbered,
  &.ordered-list {
    background-image: inline('numbered.svg');
  }
  &.link {
    background-image: inline('link.svg');
  }
  &.unlink {
    background-image: inline('unlink.svg');
  }
  &.img,
  &.picture {
    background-image: inline('img.svg');
  }
  &.video {
    background-image: inline('video.svg');
  }
  &.expand,
  &.maximize {
    background-image: inline('expand.svg');
  }
  &.add,
  &.placeholder {
    background-image: inline('add.svg');
  }
  &.close,
  &.delete,
  &.remove {
    background-image: inline('delete.svg');
  }
  &.success,
  &.approve {
    background-image: inline('approve.svg');
  }
  &.translate-mode {
    padding-left: 55px;
    background-image: inline('text.svg');
  }
  &.metadata {
    background-image: inline('metadata.svg');
  }
  &.translate {
    background-image: inline('translate.svg');
  }
  &.publish {
    background-image: inline('publish.svg');
  }
  &.save {
    background-image: inline('save.svg');
  }
  &.preview {
    background-image: inline('preview.svg');
  }
  &.return,
  &.exit {
    background-image: inline('return.svg');
  }
  &.exit {
    background-image: inline('contract.svg');
  }
  &.logout {
    background-image: inline('logout.svg');
  }
}
