// .icon {
//   display: inline-block;
//   margin: 0 .2em 0 0;
//   width: 1em;
//   height: 1em;
//   font-family: Icons;
//   font-style: normal;
//   font-weight: 400;
//   text-decoration: none;
//   text-align: center;
// }
.button {
  border: 1px solid $dkdkgrey;
  display: inline-block;
  width: 1em;
  height: 1em;
}