@charset "UTF-8";

.sane-editor-editable-wrapper,
.sane-editor-translate-wrapper {
  flex: 0 1 $max-width;
  position: relative;
  min-height: 300px;
  visibility: visible;
  transform: translateX(0);
  opacity: 1;
  margin: 0 30px 0 0;
  transition: all 0.2s ease-out;
}
.sane-editor-editable-wrapper {
  margin: 0 30px;
}
.sane-editor:not(.translate-mode) .sane-editor-editable-wrapper {
  margin: 0 30px 0 280px;
}
.sane-editor:not(.translate-mode) .sane-editor-translate-wrapper {
  visibility: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  transform: translateX(100px);
  opacity: 0;
  margin: 0;
}

.sane-editor-content-wrapper,
.sane-editor-translate-content-wrapper {
  position: absolute;
  top: 50px;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  padding: 0;
  background-color: white;
  box-shadow: 0 0 10px rgba(black, 0.1);

  .notification {
    position: fixed;
    opacity: 0;
    right: 0;
    left: 0;
    z-index: 70;
    margin: 100px;
    padding: 10px;
    border-radius: 4px;
    background: rgba(0,0,0,0.7);
    box-shadow: 0 0 5px white;
    color: white;
    font-size: 14px;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    pointer-events: none;
    transition: opacity 0.3s ease-out;
    &.show {
      opacity: 1;
    }
  }
}
.sane-editor-content,
.sane-editor-translate-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  margin: 30px auto 0 auto;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.4em;
  font-variant-ligatures: common-ligatures;
  max-width: $max-width;
  outline: none !important;
  &:read-write:focus,
  * {
    outline: none;
    &::selection {
      background-color: lighten($blue, 40%);
    }
  }
  > div {
    margin-bottom: 20px;
  }
  .wrapper {
    position: relative;
    padding: 0 5px;
    margin: 0 -5px 20px -5px;
    &:hover {
      outline: 1px solid lighten($blue, 30%);
      .remove {
        visibility: visible;
      }
    }
    .remove {
      cursor: pointer;
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      width: 16px;
      height: 16px;
      background-color: white;
      color: lighten($blue, 25%);
      font-size: 16px;
      font-style: normal;
      line-height: 15px;
      text-align: center;
      visibility: hidden;
      &:after {
        content: '×';
        position: absolute;
        top: 0;
        right: 0;
        width: 16px;
        height: 16px;
      }
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 0 !important;
    }
  }
  .blog-intro {
    font-size: 24px;
    line-height: 1.25em;
    font-weight: 400;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    display: block;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.25em;
    margin: 0;
  }
  a {
    cursor: pointer;
    color: black;
    text-decoration: none;
    border-bottom: 1px solid $dkgrey;
    &:hover {
      color: $blue;
    }
    &:focus {
      outline: none;
    }
  }
  h1 {
    font-size: 28px;
    font-weight: bold;
    line-height: 1.15em;
    margin-bottom: 20px;
  }
  h2,
  h3,
  h4 {
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin-bottom: 20px;
  }
  p {
    position: relative;
    font-size: 16px;
    line-height: 1.25em;
  }
  em {
    font-weight: bold;
  }
  ol,
  ul {
    margin-left: 25px;
    li {
      margin-bottom: 0.25em;
    }
  }
  ul li {
    list-style-type: disc;
  }
  ol li {
    list-style-type: decimal;
  }
  ol ol {
    list-style: upper-alpha;
  }
  ol ol ol {
    list-style: lower-roman;
  }
  ol ol ol ol {
    list-style: lower-alpha;
  }
  img {
    -ms-interpolation-mode: bicubic;

    &.upload-preview {
      width: 100%;
      max-height: 200px;
    }
  }
  blockquote {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4em;
    margin: 0 25px;
    padding-left: 15px;
    border-left: 1px solid $grey;
    position: relative;
    &:before {
      content: '\201C';
      position: absolute;
      top: 5px;
      left: -25px;
      font-size: 48px;
      font-weight: 100;
      color: $grey;
    }
  }

  .blog-gallery {
    text-align: center;
    figure {
      position: relative;
      display: inline-block;
      border-bottom: 1px solid $grey;
      margin: 0 40px 20px 40px;
      img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
      }
    }
    figcaption {
      padding: 5px 0;
      font-size: 14px;
      text-align: left;
      .figcontent {
        width: 100%;
        border: 0;
        outline: 0 !important;
        padding: 0;
        margin: 0;
        font-size: 14px;
        line-height: 25px;
      }
    }
  }
}
