@charset "UTF-8";

.dropdown {
  position: relative;
  font-size: 13px;
  transition: 0.3s all ease-out;
  .dropdown-current {
    position: relative;
    display: block;
    border: 0;
    box-shadow: none;
    padding: 0 40px 0 10px;
    outline: none !important;
    width: 100%;
    font-weight: bold;
    background-color: white;
    background-repeat: no-repeat;
    background-size: auto 75%;
    background-position: 100% 50%;
    background-image: inline('down.svg');
    border-left: 1px solid $grey;
    border-right: 1px solid $grey;
    z-index: 10;
  }
  .dropdown-arrow {
  }
  .dropdown-list-wrapper {
    visibility: hidden;
    opacity: 0;
    transform: translateY(10px);
    width: 100%;
    position: absolute;
    top: 30px;
    background-color: white;
    border: 1px solid $grey;
    border-radius: 0 0 3px 3px;
    box-shadow: 0 2px 7px rgba(black, 0.1);
    transition: 0.2s all ease-out;
    &.active {
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
    }
  }
  .dropdown-list {
    .header {
      font-size: 11px;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      color: $dkgrey;
      border-bottom: 1px solid $grey;
    }
    .item {
      cursor: pointer;
      &:hover {
        background-color: lighten($grey, 12%);
      }
      &.selected {
        font-weight: bold;
      }
    }
    .header,
    .item {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      padding: 0 10px;
    }
    .item-name {
      flex: 0 0 50%;
    }
    .assigned-to {
      flex: 0 0 15%;
    }
    .edited {
      flex: 0 0 10%;
    }
    .status {
      flex: 0 0 20%;
      font-size: 11px;
      text-transform: uppercase;
      text-align: right;
      span {
        margin-left: 15px;
        &:before {
          content: '•';
          font-size: 26px;
          line-height: 30px;
          vertical-align: middle;
          margin-right: 3px;
          color: orange;
        }
        &.published:before {
          color: green;
        }
      }
    }
  }
  .paginator {
    display: block;
    margin-top: 10px;
    padding: 0 10px;
    border-top: 1px solid $grey;
    text-align: center;
    a {
      cursor: pointer;
      display: inline-block;
      width: 30px;
      font-size: 11px;
      text-align: center;
      color: $dkgrey;
      &.active {
        color: black;
        font-weight: bold;
      }
    }
  }
}
