.sane-file-toolbar-wrapper {
}
.sane-file-toolbar {
  // position: relative;
  // display: flex;
  // flex-direction: row;
  // justify-content: flex-end;
  // flex: 0 1 $max-width;
  // margin: 0 auto;
  // .button {
  //   flex: 0 0 auto;
  //   margin: 0;
  //   padding: 0 15px;
  //   text-align: center;
  //   background-position: 5px 50%;
  //   background-image: none !important;
  //   background-color: $dkdkgrey;
  //   &.publish:hover {
  //     background-color: green;
  //   }
  //   &.save:hover {
  //     background-color: $pinred;
  //   }
  //   &:hover {
  //     background-color: black;
  //   }
  //   &:not(:first-child) {
  //     margin-left: 1px;
  //   }
  //   &:first-child {
  //     border-radius: 0 0 0 3px;
  //   }
  //   &:last-child {
  //     border-radius: 0 0 3px 0;
  //   }
  //   span {
  //     color: white;
  //   }
  // }
  .button {
    display: inline-block;
    margin: 0;
    background-image: none !important;
    padding: 0 10px !important;
    border-left: 1px solid $grey;
    &:hover {
      background-color: lighten($grey, 12%);
      background-color: black;
      span { color: white; }
    }
    &.save:hover,
    &.save.modified {
      background-color: red;
      span { color: white; }
    }
    &.publish:hover {
      background-color: green;
    }
  }
}
