.sane-formatting-toolbar-wrapper {
  margin: 50px 0;
  width: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 50;
}
.sane-formatting-toolbar,
.sane-file-toolbar {
  position: relative;
  display: block;
  margin: 0 auto;
  text-align: center;
  .button {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 0;
    background-size: 70% auto;
    background-position: 50% 50% !important;
    &:hover span,
    &.active span {
      visibility: visible;
      opacity: 1;
    }
    span {
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: -1;
      padding: 0 30px 0 10px;
      font-size: 10px;
      color: $dkgrey;
      border-radius: 3px 0 0 3px;
      visibility: hidden;
      opacity: 0;
      transition: 0.3s all ease-out;
    }
  }
}
