.sane-item-navigation {
  background: white;
  font-size: 13px;
  padding: 0 10px;
  border-radius: 3px;
  margin-bottom: 30px;
  overflow-x: hidden;
  overflow-y: auto;
  .item:not(:last-child) {
    border-bottom: 1px solid $grey;
  }
  .item-name {
    cursor: pointer;
    display: block;
    font-size: 11px;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: $dkgrey;
    &:hover {
      color: black;
    }
  }
  .item-content:not(:empty) {
    user-select: all;
    display: block;
    padding: 0 0 10px 0;
  }
  .button-wrapper {
    margin-top: 10px;
  }
  .wrapper {
    padding: 7px;
    margin-bottom: 10px;
    border: 1px solid lighten($grey, 10%);
    border-width: 2px;
    label {
      display: block;
      font-size: 9px;
      line-height: 9px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      margin: 0 0 5px 0;
    }
    span {
      font-size: 16px;
      letter-spacing: 0.02em;
    }
    &.meta {
      border-color: $sky;
      .tags li {
        background-color: lighten($sky, 15%);
      }
    }
    &.treatment {
      border-color: $leaf;
      .tags li {
        background-color: lighten($leaf, 20%);
      }
    }
    &.infection,
    &.symptoms {
      border-color: $pink;
      .tags li {
        background-color: lighten($pink, 15%);
      }
    }
    &.condition,
    &.definition {
      border-color: $sun;
      .tags li {
        background-color: lighten($sun, 25%);
      }
    }
    .tags {
      cursor: pointer;
      margin: 0;
      padding: 0;
      list-style: none;
      > * {
        display: inline-block;
        font-size: 14px;
        line-height: 24px;
        background-color: lighten($grey, 5%);
        padding: 0 8px;
        margin: 0 8px 8px 0;
        border-radius: 3px;
        transition: all 0.3s ease-out;
        .button {
          margin-right: -8px;
        }
      }
    }
    .add,
    .remove {
      display: inline-block;
      position: relative;
      width: 24px;
      height: 24px;
      margin: 0;
      vertical-align: bottom;
      opacity: 0.5;
      mix-blend-mode: difference;
      &:hover {
        opacity: 1;
      }
    }
    input {
      outline: none !important;
      font-size: 14px;
      line-height: 30px;
      padding: 0 24px 0 5px;
      margin: 0 -24px 0 0;
      width: 100%;
      border: 1px solid $grey;
    }
    .dropdown {
      input + .button {
        line-height: 30px;
        height: 30px;
      }
      .dropdown-current {
        border: 0;
      }
      .dropdown-list-wrapper.active .dropdown-list {
        padding: 5px;
      }
      .dropdown-list {
        &:empty {
          display: none;
        }
        &.tags span:hover {
          background-color: darken($grey, 5%);
        }
      }
    }
  }
}
