@charset "UTF-8";

.sane-language-toolbar-wrapper {
  position: absolute;
  top: 20px;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  z-index: 10;
}
.sane-language-toolbar {
  position: relative;
  flex: 0 1 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  .tab {
    cursor: pointer;
    flex: 0 0 auto;
    width: auto;
    height: 30px;
    margin: 0 10px 0 0;
    padding: 0 10px;
    border-radius: 3px 3px 0 0;
    color: $dkdkgrey;
    background-color: rgba(black, 0.1);
    font-size: 11px;
    line-height: 30px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: center;
    &.active,
    &:hover {
      background-color: white;
      box-shadow: 0 -2px 3px rgba(black, 0.05);
    }
    &:before {
      content: '•';
      font-size: 26px;
      line-height: 30px;
      vertical-align: middle;
      margin-right: 5px;
      color: orange;
    }
    &.published:before {
      color: green;
    }
    &.modified {
      // &:after {
      //   content: ' - not saved';
      //   font-size: 11px;
      //   line-height: 30px;
      //   color: red;
      // }
      > .button {
        display: inline-block;
        margin: 0 0 0 5px;
        padding: 0 5px;
        line-height: 19px;
        height: 19px;
        background-image: none;
        background-color: red;
        border-radius: 3px;
        &:hover {
          background-color: black;
        }
        span {
          color: white;
        }
      }
    }
    > span {
      white-space: nowrap;
      visibility: visible;
      opacity: 1;
      transition: 0.3s all ease-out;
    }
  }
  .toolbar-status {
    flex: 1 0 auto;
    text-align: right;
    .button {
      display: inline-block;
      margin: 0;
    }
  }
}
