@charset "UTF-8";

.sane-language-toolbar-wrapper {
  position: absolute;
  top: 30px;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  z-index: 50;
}
.sane-language-toolbar {
  position: relative;
  display: block;
  flex: 0 1 $max-width;
  margin: 0 auto;
  text-align: right;
  .tab,
  .button {
    cursor: pointer;
    display: inline-block;
    width: auto;
    height: 30px;
    margin: 0;
    background-size: 70% auto;
    border-radius: 3px 3px 0 0;
    text-align: center;
    vertical-align: middle;
    &.active,
    &:hover {
      background-color: white;
      box-shadow: 0 -2px 3px rgba(black, 0.05);
    }
    &.published:before,
    &.unpublished:before {
      content: '•';
      font-size: 30px;
      line-height: 30px;
      vertical-align: middle;
      margin-left: 5px;
    }
    &.published:before {
      color: green;
    }
    &.unpublished:before {
      color: orange;
    }
    span {
      font-size: 11px;
      line-height: 30px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: $dkdkgrey;
      padding-right: 5px;
      white-space: nowrap;
      visibility: visible;
      opacity: 1;
      transition: 0.3s all ease-out;
    }
  }
  .tab {
    margin-left: 5px;
    &:not(.active) .button {
      display: none;
    }
  }
  .button {
    background-color: green;
    border-radius: 0 3px 0 0;
    &:hover {
      background-color: black;
    }
    &.disabled {
      background-color: $grey;
      &:hover {
        background-color: $grey;
      }
    }
    span {
      color: white;
      padding: 0 10px;
    }
  }
}