.main-toolbar {
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  flex: 0 1 $max-width;
  font-size: 14px;
  line-height: 30px;
  background-color: white;
  .currently {
    margin-right: 10px;
    font-size: 11px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: $dkgrey;
  }
  .button {
    margin: 0;
    &:hover {
      background-color: black;
      background-color: lighten($grey, 12%);
    }
    &.prev {
      border-left: 1px solid $grey;
    }
    &.next {
      border-right: 1px solid $grey;
    }
  }
  > * {
    flex: 0 0 0;
  }
  .dropdown {
    flex: 1 0 0;
  }
}
