.sane-editor:not(.translate-mode) {
  .sane-item-navigation-wrapper {
    flex: 0 0 220px;
  }
}
.sane-item-navigation-wrapper {
  margin: 50px 0 0 0;
  flex: 0 0 0;
  overflow: hidden;
}
.sane-item-navigation {
  background: white;
  font-size: 13px;
  padding: 0 10px;
  border-radius: 3px;
  .item:not(:last-child) {
    border-bottom: 1px solid $grey;
  }
  .item-name {
    cursor: pointer;
    font-size: 11px;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: $dkgrey;
    &:hover {
      color: black;
    }
  }
  .item-content:not(:empty) {
    padding: 10px 0;
  }
}

.sane-primary-navigation-wrapper {
  position: fixed;
  top: 30px;
  left: 0;
  bottom: 0;
}
.sane-primary-navigation {

}
