textarea#supereditor2 {
    display: none;
}
#debug {
    border: 2px solid $yellow;
    margin: 20px 0 0 0;
}
.install-chrome {
    @include danger;
    margin-top: 20px;
    font-size: 18px;
}

.sane-editor {
  position: relative;
  margin: 0 0 20px 0;
  width: 100%;
  height: 60vh;
  border: 1px solid $grey;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.sane-editor-toolbar-wrapper {
  flex: 0 0 40px;
  z-index: 50;
  box-shadow: 0 0 3px rgba(black, 0.8);
  .toolbar {
    display: block;
    width: 100%;
    height: 40px;
    background-color: $grey;
    .button {
      cursor: pointer;
      position: relative;
      display: inline-block;
      width: 30px;
      height: 30px;
      margin: 5px 5px 5px 0;
      border-radius: 3px;
      &:first-child {
        margin-left: 5px;
      }
      &:hover {
        background-color: $dkgrey;
      }
    }
  }
}
.sane-editor-modal-wrapper {
  flex: 0 0 auto;
  z-index: 60;
  transition: height 0.3s ease-out;
  div[class*='modal'] {
    display: block;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 0 5000px rgba(black, 0.6);
  }
}
.sane-editor-content-wrapper {
  flex: 1 0 0;
  min-height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
}
.sane-editor-content {
  display: block;
  padding: 20px;
  font-size: 18px;
  line-height: 1.4em;
  height: 100%;
  outline: none !important;
  &:read-write:focus,
  * {
    outline: none;
  }
  > div {
    margin-bottom: 20px;
  }
  .wrapper {
    position: relative;
    padding: 5px;
    margin: 0 -5px;
    &:hover {
      outline: 1px solid lighten($blue, 30%);
      .remove {
        visibility: visible;
      }
    }
    .remove {
      position: absolute;
      top: 5px;
      right: 5px;
      cursor: pointer;
      font-size: 12px;
      visibility: hidden;
      color: lighten($blue, 30%);
    }
  }
  .blog-intro {
    font-size: 24px;
    line-height: 1.25em;
    font-weight: 400;
  }
  h2,
  h3,
  h4 {
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }
  .blog-intro,
  p,
  ul li,
  ol li {
    margin-bottom: 1em;
  }
  ol,
  ul {
    margin-left: 40px;
  }
  a {
    border-bottom: 1px solid $dkgrey;
  }
  blockquote {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4em;
    margin: 1em 25px;
    padding-left: 15px;
    border-left: 1px solid $grey;
    position: relative;
    &:before {
      content: '\201C';
      position: absolute;
      top: 5px;
      left: -25px;
      font-size: 48px;
      font-weight: 100;
      color: $grey;
    }
  }

  .blog-gallery {
    figure,
    .placeholder {
      display: block;
      margin: 20px 40px;
      // &.selected:after {
      //   content: "";
      //   position: absolute;
      //   top: 0;
      //   right: 0;
      //   bottom: 0;
      //   left: 0;
      //   background-color: rgba($blue,0.2);
      //   border: 10px solid $blue;
      //   z-index: 2;
      // }
      img {
        display: block;
        margin: 0 auto;
        width: auto;
        max-height: 350px;
      }
      // .remove {
      //   position: absolute;
      //   top: 0;
      //   right: 0;
      //   background-color: white;
      //   padding: 5px;
      //   z-index: 10;
      // }
    }
  }

}


// .sane-editor {
//     position: relative;
//     margin: 10px 0;
//     width: 100%;

//     .toolbar {
//         .history {
//            position: absolute;
//            top: 31px;
//            right: 0;
//            width: 300px;
//            height: 300px;
//            padding: 10px;
//            overflow: auto;
//            display: block;
//            background-color: $dkgrey;
//            z-index: 20;

//            ol {
//             li {
//                 display: block;
//                 padding: 5px;
//                 border-bottom: 1px solid $grey;
//                 .by-user {
//                     font-size: 13px;
//                 }
//             }
//            }
//         }
//         ul {
//             li {
//                 list-style: none;
//                 display: inline-block;
//                 margin: 0 5px;

//                 &:last-child {
//                     float: right;
//                 }
//             }
//         }
//         a {
//             display: block;
//             width: 30px;
//             padding: 2px;
//             text-align: center;
//             color: white;
//             &:hover, &.highlighted {
//                 background: black;
//             }
//         }
//     }
//
// }
