.sane-editor {
  font-family: Helvetica, Arial, sans-serif;
  position: relative;
  margin: 0 0 20px 0;
  width: 100%;
  height: 60vh;
  background-color: lighten($grey, 12%);
  border: 1px solid $grey;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  // transition: all 0.3s ease-out;

  * {
    box-sizing: border-box;
  }

  &:not(.full-screen-mode) {
    .button.save,
    .button.preview,
    .button.exit {
      display: none;
    }
  }
  &.full-screen-mode {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    z-index: 999999;
    .sane-editor-toolbar-wrapper .button.maximize {
      background-image: inline('contract.svg');
    }
  }
}
.sane-editor-toolbar-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  flex: 0 0 30px;
  background-color: white;
  background-repeat: no-repeat;
  background-size: auto 75%;
  background-position: 10px 50%;
  background-image: inline('morrr-logo.svg');
  box-shadow: 0 0 0 1px $grey;
  z-index: 50;
}
.sane-editor-content-area-wrapper {
  position: relative;
  flex: 1 0 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  min-height: 300px;
  overflow: hidden;
}
