@charset "UTF-8";

// @import "sanitize";
@import "mixins-variables";
// @import "global";
@import "buttons";
@import "login";
@import "ajax-upload";
@import "sane-editor";
@import "modal";
@import "main-toolbar";
@import "user-toolbar";
@import "formatting-toolbar";
@import "language-toolbar";
@import "file-toolbar";
@import "drop-down";
@import "content";

textarea#supereditor2 {
    display: none;
}
#debug {
    border: 2px solid $yellow;
    margin: 20px 0 0 0;
}
.install-chrome {
    @include danger;
    margin-top: 20px;
    font-size: 18px;
}
